.vscode
__pycache__
antlr4_package/__pycache__
bgughwoighwi
Data_Config_Info/*
.ipynb_checkpoints/*
Untitled.ipynb
.~lock.repository_mining_data.csv#
analysing_repos_pattern_evolution.log
Commit_Data/*
Data_Config_Info/*
repositories/*
!repositories/clone_repositories.sh